.header {
  background-color: aqua;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

.header__left {
  flex: 1;
}
.header__right {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.header__img {
  width: 80%;
}
