.menu {
  height: 10vh;
  width: 100%;
  background-color: #cc310e;
}
.menu img {
  width: 8em;
  cursor: pointer;
}

.menu_link {
  color: white;
  margin: 0 1em;
  font-size: 1.5em;
}

.menu_link:hover {
  color: #c0d1be;
  text-decoration: none;
}

.menu i {
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.mobile_menu {
  height: fit-content;
  background-color: #cc310e;
}

.menu_link--mobile {
  color: white;
  font-size: 1.5em;
}

.menu_link--mobile:hover {
  text-decoration: none;
  color: white;
  background-color: #db3d19;
  font-size: 1.5em;
}
