.menu {
    height: fit-content;
    background-color: #FEFCF3;
  }
  
  .menu img {
    width: 6em;
  }

  .menu p {
    font-size: 1.3em;
    color: #0B2540;
    margin: 0 1em;
    width: 100%;
  }

  