.headerUser {
  min-height: 10vh;
  background-color: #fefcf3;
}

.headerUser_link {
  text-decoration: none;
  color: #0b2540;
  height: 100%;
  font-size: 1.5em;
}

.headerUser img {
  width: 6em;
  padding-left: 0.3em;
}



.headerUser_link:hover {
  text-decoration: none;
  color: #0b2540;
}



.headerUser i {
  font-size: 2em;
  cursor: pointer;
  color: #0b2540;
  margin-top: 0.2em;
}

.headerUser_i--link {
  color: #0b2540;
}
.headerUser_i--link:hover {
  color: #0b2540;
}

.headerUser_burger--content div {
  width: 100%;
  height: 2em;
  font-size: 1.5em;
  color: #0b2540;
  text-align: center;
  cursor: pointer;
  background-color: #fefcf3;
}

.headerUser_burger--content div:hover {
  background-color: rgb(240, 240, 240);
}

.headerUser img {
  width: 6em;
}

.headerUser_link {
  font-size: 1.3em;
  color: #0b2540;
  margin: 0;
  width: 100%;
}



.avatar {
  font-size: 2.2em !important;
}


.headerUser_p {
  font-size: 1.3em;
  margin: 0.3em 0 0 0.3em;
}

.headerUser-infos{
  margin: 0.5em 0.5em 0 0;
  display: flex;
  align-items: center;
}


.headerUser-infos div{
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

.headerUser button {
  width: fit-content;
  margin: 0.5em auto;
}

@media screen and (min-width: 992px){
  .headerUser_link{
    margin: 0 1em;
  }
  .headerUser button {
    margin: 0 2em;
  }

  .headerUser-infos{
    margin-right: 2em;
  }
  
}

@media screen and (max-width: 336px){
  .headerUser-infos i {
    display: none;
  }

  .headerUser-infos p {
    display: none;
  }
}
