.signup {
  width: 100%;
  height: 100vh;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.signup-wrapper {
  width: 90%;
  height: 70%;
  background-color: rgba(58, 65, 65, 0.8);
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 1em;
}

.signup h2 {
  color: white;
  font-size: 2.5em;
}

.signup form {
  margin: 0 auto;
}

.signup_input {
  margin: 1.5em auto;
  height: 3em;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #fefcf3;
  padding: 1em;
  outline: none;
}

.signup_button {
  margin: 1.5em auto;
  height: 3em;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #9e9d9a;
  font-weight: 500;
}

.signup_button:hover {
  background-color: #476798;
  color: #fefcf3;
}

.icon {
  color: white;
  cursor: pointer;
  background-color: red;
}

.sucessMessage {
  margin: 0 auto;
  padding: 0.5em;
  color: yellowgreen;
  font-size: 1em;
  border: solid 2px yellowgreen;
  width: fit-content;
  text-align: center;
}

.errorMessage {
  margin: 0 auto;
  padding: 0.5em;
  color: red;
  font-size: 1em;
  border: solid 2px red;
  width: fit-content;
  text-align: center;
}
