.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.profile_form--wrapper{
    width: 90%;
    height: 20em;
    background-color: #FEFCF3;
    margin: 0 auto;
    border-radius: 10px;
    
}

.profile_form{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.profile_form input {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 90%;
    background-color: transparent;
    border: solid black 1px;
}

.profile_form input:focus {
   outline: none;
   
}

.profile_form input:-webkit-autofill {
    outline: none;
    -webkit-box-shadow: 0 0 0 1000px #FEFCF3 inset;
    
 }

.profile_form button{
    font-size: 1em;
    margin-top: .5em;
}

.profile_exit{
    text-align: right;
    font-size: 2em;
    width: fit-content;

}

.profile_exit i{
    cursor: pointer;

}

.profile_delete{
    width: 80%;
    height: 30%;
    background-color: #FEFCF3;
    margin: 1em auto;
    border-radius: 10px;
    padding: 1em 0;
    margin-bottom: 1em;
}

.profile_delete h3 {
   font-size: 1em;
}

.profile_delete button {
    font-size: 1em;
    margin: 1em;
    
}

.sucessMessage {
    margin: 0 auto;
    padding: 0.5em;
    color: yellowgreen;
    font-size: 1em;
    border: solid 2px yellowgreen;
    width: fit-content;
    text-align: center;
  }
  
  .errorMessage {
    margin: 0 auto;
    padding: 0.5em;
    color: red;
    font-size: 1em;
    border: solid 2px red;
    width: fit-content;
    text-align: center;
  }

.profile_delete_yes{
    background-color: rgb(6, 170, 6);
}

.profile_delete_no{
    background-color: rgb(212, 31, 31);
}
