.notFound__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.notFound__wrapper h1 {
  color: #9688b7;
  font-weight: 900;
  font-size: 8em;
}
