.upload input {
  font-size: 0.7em;
  margin-top: 2em;
}

.upload {
  width: 90%;
  height: 80%;
}

.upload_exit i {
  cursor: pointer;
  font-size: 2em;
  position: relative;
  bottom: .8em;
}
.upload_exit {
  width: fit-content;
}

@media screen and (min-width: 1330px) {
  .upload input {
    font-size: 1em;
  }
}
