.contact__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.contact__infos {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 2em;
}

.contact__infos div {
  display: flex;
  font-size: 1.2em;
  flex-direction: column-reverse;
  background-color: #9688b7;
  color: #fefcf3;
  font-weight: 700;
  padding: 1em;
  border-radius: 8px;
}

.contact__wrapper form {
  color: #fefcf3;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#254470, #0b2540);
  padding: 1em;
  border-radius: 10px;
}

.contact__wrapper form input {
  margin: 0.5em 0;
  border-radius: 5px;
  border: none;
  font-size: 1.3em;
  outline: none;
  padding: 0.3em;
}

.contact__wrapper form textarea {
  margin: 0.5em 0;
  border-radius: 5px;
  border: none;
  font-size: 1.3em;
  outline: none;
  padding: 0.3em;
}

.contact__wrapper form button {
  margin: 1em 0;
  border-radius: 5px;
  border: none;
  font-size: 1.3em;
  outline: none;
  padding: 0.3em;
  background-color: #9688b7;
  color: #fefcf3;
}
