.login {
  width: 100%;
  height: 100vh;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  width: 90%;
  height: 70%;
  background-color: rgba(58, 65, 65, 0.8);
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.login h2 {
  color: white;
  margin-bottom: 1em;
  font-size: 2.5em;
}

.login_input {
  margin: 1em auto;
  height: 3em;
  width: 90%;
  border-radius: 10px;
  border: none;
  background-color: #fefcf3;
  padding: 1em;
  outline: none;
}

.login_button {
  margin: 1em auto;
  height: 3em;
  width: 90%;
  border-radius: 10px;
  border: none;
  background-color: #9e9d9a;
  font-weight: 500;
}

.login_p {
  text-align: center;
  color: #fefcf3;
  font-size: 1.3em;
}

.login_p:hover {
  color: #fefcf3;
}

.icon__login {
  color: white;
  cursor: pointer;
  background-color: #476798;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  margin: 0 0 2em 1em;
  font-size: 1.5em;
}

.icon__login:hover {
  text-decoration: none;
  color: #476798;
  background-color: white;
}

@media screen and (min-width: 650px){
  .login-wrapper{
    width: 60%;
  }
  .login_input{
    width: 70%;
  } 
  .login_button{
    width: 70%;
  }
}

@media screen and (min-width: 1200px){
  .login-wrapper{
    width: 50%;
  }
  .login_input{
    width: 70%;
  } 
  .login_button{
    width: 70%;
  }
}
