.login {
  width: 100%;
  height: 100vh;
  background-color: #254470 ;
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.login h2 {
  color: white;
  margin-bottom: 1em;
  font-size: 2.5em;
  font-weight: bold;
}

.login_input {
  margin: 1em auto;
  height: 3em;
  width: 90%;
  border-radius: 10px;
  border: none;
  background-color: #fefcf3;
  padding: 1em;
  outline: none;
}

.login_button {
  margin: 1em auto;
  height: 3em;
  width: 90%;
  border-radius: 10px;
  border: none;
  background-color: #fefcf3;
  font-weight: 500;
}

.login_button:hover {
  background-color: #e6e5e0;
}

.login_p {
  text-align: center;
  color: #fefcf3;
  font-size: 1.3em;
}

.login_p:hover {
  color: #fefcf3;
}

.icon__login {
  position: fixed;
  top: 5%;
  left: 5%;
  background-color: #fefcf3;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}

.icon__login i {
  font-size: 1.4em;
}

.icon__login:hover {
  text-decoration: none;
  color: #476798;
  background-color: white;
}

@media screen and (min-width: 650px) {
  .login-wrapper {
    width: 60%;
    height: 80%;
  }
  .login_input {
    width: 70%;
  }
  .login_button {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .login-wrapper {
    width: 50%;
  }
  .login_input {
    width: 70%;
  }
  .login_button {
    width: 70%;
  }
}
