/*
  COLORS
  WHITE : #FEFCF3
  PURPLE : #9688B7
  LIGHT BLUE : #496899
  MIDDLE BLUE : #254470
  DARK BLUE : #0B2540

*/

.demo {
  min-height: 84.5vh;
  background-color: #ebe7d7;
}
.demo h2 {
  margin: 0 0.5em;
  padding-top: 3em;
  font-size: 2.5em;
}

.demo_row1 {
  padding-top: 2%;
}

.demo_col {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(11, 37, 64, 1);
  min-height: 25em;
  margin: 2em 0em;
  border-radius: 20px;
  padding: 2em 0;
}

.demo_col:hover {
  background-color: rgba(11, 37, 64, 0.9);
}

.demo button {
  font-size: 1.3em;
  padding: .5em 1em;
  transition: 1s;
  border: none;
  border-radius: 5px;
  height: fit-content;
}

.demo button:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 550px){
  .demo h2 {
    font-size: 1.5em;
  }
}