/*
  COLORS
  WHITE : #FEFCF3
  PURPLE : #9688B7
  LIGHT BLUE : #496899
  MIDDLE BLUE : #254470
  DARK BLUE : #0B2540

*/

.demo {
  width: 100%;
  min-height: 84.5vh;
  background-color: #fefcf3;
}
.demo h2 {
  padding-top: 3em;
  font-size: 2.5em;
}
.demo_row1 {
  padding-top: 2%;
}

.demo_col {
  background-color: rgba(11, 37, 64, 1);
  height: 25em;
  margin: 2em 0em;
  border-radius: 20px;
  cursor: pointer;
}

.demo_col:hover {
  background-color: rgba(11, 37, 64, 0.9);
}

.demo button {
  font-size: 1.3em;
  padding: .5em 1em;
  transition: 1s;
  border: none;
  border-radius: 5px;
}

.demo button:hover {
  transform: scale(1.2);
}